xml/dtd/student.dtd

<!ELEMENT student_list (student+)>

<!--student must contain name, contact, and other information elements-->
<!ELEMENT student (name,contact+,gpa,major+,minor*,year,status,advisor,enrollment,graduation)>
<!ATTLIST student id ID #REQUIRED> <!--each student must have unique id-->

<!ELEMENT name EMPTY>
   <!ATTLIST name first CDATA #REQUIRED
    middle CDATA
    last CDATA #REQUIRED
    preferred CDATA)>

<!ELEMENT contact EMPTY>
   <!ATTLIST contact email CDATA #REQUIRED
    phone #PCDATA)>

<!ELEMENT information EMPTY>
   <!ATTLIST information gpa CDATA #REQUIRED
    major CDATA #REQUIRED
    minor CDATA
    year (first|second|third|senior) #REQUIRED
    status (full-time|part-time|graduated|withdrawn) #REQUIRED
    advisor CDATA #REQUIRED
    enrollment CDATA #REQUIRED
    graduation CDATA #REQUIRED>
