xml/dtd/student.dtd

<!ELEMENT student_list (student+)>

<!ELEMENT student (name,contact,information)>
   <!ATTLIST student id ID #REQUIRED>

<!ELEMENT name EMPTY>
   <!ATTLIST name first CDATA #REQUIRED
    middle CDATA
    last CDATA #REQUIRED
    preferred CDATA)>

<!ELEMENT contact EMPTY>
   <!ATTLIST contact email CDATA #REQUIRED
    phone #PCDATA)>

<!ELEMENT information EMPTY>
   <!ATTLIST information gpa CDATA #REQUIRED
    major CDATA #REQUIRED
    minor CDATA
    year (first|second|third|senior) #REQUIRED
    status (full-time|part-time|graduated|withdrawn) #REQUIRED
    advisor CDATA #REQUIRED
    enrollment CDATA #REQUIRED
    graduation CDATA #REQUIRED>
