xml/dtd/student.dtd

<!ELEMENT student_list (student+)>

<!ELEMENT student (name,contact,information)>
   <!ATTLIST student id ID #REQUIRED>

<!ELEMENT name EMPTY>
   <!ATTLIST name first CDATA #REQUIRED
    middle CDATA
    last CDATA #REQUIRED
    preferred CDATA)>

<!ELEMENT contact EMPTY>
   <!ATTLIST contact email CDATA #REQUIRED
    phone #PCDATA)>

