xml/dtd/student.dtd

<!ELEMENT student_list (student+)>

<!--student must contain name, contact, and other information elements-->
<!ELEMENT student (name,contact+,gpa,major+,minor*,year,status,advisor,enrollment,graduation)>
<!ATTLIST student id ID #REQUIRED> <!--each student must have unique id-->

<!ELEMENT name (first,middle*,last,preferred*)> <!--name is required-->
<!ELEMENT first (#PCDATA)> <!--first is required-->
<!ELEMENT middle (#PCDATA)> <!--middle is optional-->
<!ELEMENT last (#PCDATA)> <!--last is required-->
<!ELEMENT preferred (#PCDATA)> <!--preferred is optional-->

<!ELEMENT contact (email+,phone*)> <!--contact is required-->
<!ELEMENT email (#PCDATA)> <!--email is required-->
<!ELEMENT phone (#PCDATA)> <!--phone is optional-->

<!ELEMENT gpa (#PCDATA)> <!--gpa is required-->
<!ELEMENT major (#PCDATA)> <!--at least one major is required-->
<!ELEMENT minor (#PCDATA)> <!--minor is optional-->
<!ELEMENT year (first|second|third|senior)> <!--year is required-->
<!ELEMENT status (full-time|part-time|graduated|withdrawn)> <!--status is required-->
<!ELEMENT advisor (#PCDATA)> <!--advisor is required-->
